.faq__title {
    padding-top: 100px;
    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; 
    text-transform: uppercase;
    margin-bottom: 40px;
}

.faq__question {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
}

.faq__question:not(:last-child) {
    margin-bottom: 20px;
}

.faq__question:nth-child(2n+1) {
    background-color: #440F51;
    color: #fff;
}

.faq__question:nth-child(even)::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(faq-img/purple__open.svg);
    background-size: contain;
    margin-left: auto;
    margin-right: 10px; 
    transition: 0.3s;
    background-repeat: no-repeat;
}

.faq__question:nth-child(odd)::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url(faq-img/white__open.svg);
    background-size: contain;
    margin-left: auto;
    margin-right: 10px; 
    transition: 0.3s;
    background-repeat: no-repeat;
}

.faq__question:nth-child(even):hover::after {
    background-image: url(faq-img/purple__open-hover.svg)
}

.faq__question:nth-child(odd):hover::after {
    background-image: url(faq-img/white__open-hover.svg)
}

.faq__question:nth-child(even):active::after {
    background-image: url(faq-img/purple__open-active.svg)
}

.faq__question:nth-child(odd):active::after {
    background-image: url(faq-img/white__open-active.svg);
}

@media (max-width:1024px) {
    .faq__title {
        padding-top: 70px;
        margin-bottom: 25px;
        font-size: 30px;
        line-height: 40px; 
    }
    .faq__question:last-child {
        display: none;
    }
    .faq__question {
        font-size: 20px;
        padding: 12px 25px;
        padding-right: 20px;
    }
    .faq__question:not(:last-child) {
        margin-bottom:auto;
    }
    .faq__question:not(:nth-child(5)) {
        margin-bottom: 16px;
    }
    .faq__question:nth-child(even)::after {
        width: 46px;
        height: 46px;
        margin-right: 0;
    }
    .faq__question:nth-child(odd)::after {
        width: 46px;
        height: 46px;
        margin-right: 0;
    }
    
}

@media (max-width:768px) {
    .faq__title {
        font-size: 24px;
        line-height: 26px; 
        padding-top: 60px;
        margin-bottom: 30px;
    }
    .faq__question {
        font-size: 18px;
        padding: 12px calc(25px + (65 - 25) * ((100vw - 320px) / (768 - 320)));
        background-repeat: no-repeat;
    }
    .faq__question:not(:last-child) {
        margin-bottom: 15px;
    }
}
@media (max-width:320px) {
    .faq__title {
        font-size: 14px;
        line-height: 18px;
        padding-top: 48px;
        margin-bottom: 15px;
    }
    .faq__question {
        font-size: 12px;
        line-height: 16px;
        padding: 7px 10px;
    }
    .faq__question:not(:last-child) {
        margin-bottom: 11px;
    }
    .faq__question:nth-child(odd)::after {
        width: 30px;
        height: 30px;
    }
    .faq__question:nth-child(even)::after {
        width: 30px;
        height: 30px;
    }
}
