.about__quote-hidden,
.about__quote-mainperson-hidden {
    display: none;
}

.text-quote {
    quotes: "“" "”" "‘" "’";
}
.text-quote::before {
    content: open-quote;
    color: #6C0287;
    font-size: 1.5em;
}
.text-quote::after {
    content: close-quote;
    color: #6C0287;
    font-size: 1.5em;
}

.about {
    font-size: 1.4em;
}

.about__title {
    color: #FFF;
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    padding-top: 100px;
}

.about-block{
    display: flex;
    justify-content: space-between;
}

.about-block__photo {
    width: 50%;
}

.about-block__vertical {
    width: 45%;
}

.about-block__photo, .about-block_vertical {
    min-height: 600px;
} 

.about__title {
    margin-bottom: 40px;
}

.about-block__description {
    color: #FFF;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 60px;
}

.about-block__text,
.about__quote-hidden-text {
    color: #FFF;
    font-family: Arial;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.about-block__quote-main-person {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.main-person__info {
    color: #FFF;
    font-family: Arial;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}

@media (max-width:1024px) {
    .about__title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 26px;
        padding-top: 70px;
    }
    .about-block {
        justify-content: normal;
        column-gap: 40px
    }
    .about-block__photo {
        max-width: 420px;
    }
    .about-block__description {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 59px;
    }
    .about-block__text,
    .about__quote-hidden-text {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 16px;
    }
    .about-block__vertical {
        width: 50%;
    }
    .about-block__photo, .about-block_vertical {
        min-height:auto;
    }
    .main-person__img {
        width: 70px;
        height: 70px;
    }
    .main-person__info {
        font-size: 18px;
        line-height: 26px; 
    }
    .about-block__quote-main-person {
        align-items: center;
        gap: 35px;
        margin-right: 15px;
    }
}

@media (max-width:768px) {
    .about__title {
        font-size: 24px;
        line-height: 36px;
        padding-top: 60px;
        margin-bottom: 31px;
    }
    .about-block {
        column-gap:28px;
        margin-bottom: 38px;
    }
    .about-block__photo {
        width: 382px;
    }
    .about-block__vertical {
        width: 39%;
    }
    .about-block__quote,
    .about-block__quote-main-person {
        display: none;
    }
    .about-block__vertical {
        display: flex;
        align-items: center;
    }
    .about-block__description {
        margin-bottom: 0;font-size: 16px;
        line-height: 22px; 
    }

    .about-block__text,
    .about__quote-hidden-text {
        font-size: 32px;
        line-height: 32px; 
        margin-bottom: 24px;
    }
    .about__quote-mainperson-hidden {
        display: flex;
        justify-content: flex-end;
        margin-right: 15px;
        gap: 25px;
        align-items: center;
    }
    .about__quote-hidden {
        display: block;
    }
}

@media (max-width:320px) {
    .about__title {
        padding-top: 30px;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
    }
    .about-block {
        flex-direction: column-reverse;
        margin-bottom: 19px;
    }
    .about-block__vertical {
        width: auto;
        align-items: start;
        margin-bottom: 15px;
    }
    .about-block__description {
        font-size: 12px;
        line-height: 16px;
    }
    .about-block__photo {
        width: 100%;
    }
    .about-block__text,
    .about__quote-hidden-text {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .main-person__info {
        font-size: 12px;
        line-height: 16px;
    }
    .main-person__img {
        width: 56px;
        height: 56px;
    }
    .about__quote-mainperson-hidden {
        justify-content: flex-start;
        gap: 11px;
    }
}
